#tytul
{
    color:blueviolet; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


p{
    color:red;
    font-size:xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    
    color:rgb(73, 109, 16);
    background-color: darkkhaki;
    background-image:url("informatyka.jpg");
}
img{
    width:500px;
}

.font1
{
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
  color:chocolate;
}
a{
    color:aqua
}
div{
    background-color: chocolate;
    margin:auto;
    max-width: 500px;
    padding:10px;
}